.centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gate {
  background: var(--nodeBg);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--nodeOutline);
  transition: 0.2s ease;
}

.react-flow__handle {
  width: 10px;
  height: 10px;
  border-color: var(--nodeOutline);
  transition: 0.2s ease;
}

.react-flow__edge-path {
  transition: 0.2s ease;
  transition-property: stroke;
}

.powerStatusActive {
  background: white;
}

.powerStatusInactive {
  background: var(--bgColor);
}
